@media (max-width: 768px) {
    #footer .grupo{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 25px 0px;
    }
}

@media (max-width: 768px) {
    .valoracion-clientes .contenedor-clientes {
        margin-left: 20px;
        margin-top: 30px;
        margin-right: 20px;
        textarea {
            width: 350px;
        }
    }   
}

@media (max-width: 768px) {
    .menuContacto {
        .container-form {
            width: 90%;
            max-width: 768px;
            margin-left: 10px;
            margin-right: 0px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            margin-top: 50px;
        }
    }
    .container-form p {
        width: 350px;
        font-size: 20px;
        line-height: 1.6;
        margin-bottom: 30px;
    }
    .container-form a {
        font-size: 20px;
        display: inline-block;
        text-decoration: none;
        width: 350px;
        margin-bottom: 15px;
        color: black;
        font-weight: 600;
    } 
    .container-form form .campo, textarea {
        width: 350px;
        padding: 20px 10px;
        font-size: 15px;
        margin-bottom: 40px;
    }
    .container-form form .textarea {
        max-width: 550px;
        max-height: 150px;
        min-height: 180px;
    }
    .container-form .enviar {
        padding: 10px;
        font-size: 20px;
        background-color: grey;
        color: black;
    }
}

@media (max-width: 768px) {
    #sectionLocal .imagenesLocal {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 20px;
        gap: 10px;
    }
    #sectionLocal .imagenesLocal img {
        width: 300px;
        margin-left: 50px;
    }
    .direccionLocal iframe {
        width: 300px;
        height: 200px;
    }  
}

@media (max-width: 768px) {
    .buscador .main .productos-tienda{
        display: flex;
        flex-direction: column;
    }
    .buscador .productos-tienda .producto img {
        width: 70%;
        margin-left: 70px;
    }
    .buscador {
        display: flex;
        flex-direction: column;
    }
    .buscador .productos-tienda {
        display: flex;
        flex-direction: column;
    }
    .buscador .subtitulo {
        display: flex;
        justify-content: center;
    }
    .buscador .producto .boton-comprar {
        padding: 3px;
        width: 70%;
        margin-left: 60px;
    }
    .buscador .aside .categorias {
        display: flex;
        justify-content: center;
    }
    .buscador .aside .marcas {
        margin-left: 60px;
    }
    .buscador .aside {
        gap: 0;
    }
}

@media (max-width: 768px) {
    #main .principal {
        display: flex;
        flex-direction: column;
    }
    #main .principal img {
        width: 350px;
        height: 200px;
        margin-left: 20px;
    }
    #main .principal iframe {
        width: 350px;
        height: 200px;
        margin-left: 20px;
    }
    .carrousel-menu {
        width: 350px;
        height: 200px;
        margin-left: 20px;
    }
    .carrousel-menu .menu-promo {
        margin-top: 30px;
    }
    .sectionDestacados {
        display: flex;
        flex-direction: column;
    }
    .sectionDestacados img {
        width: 70%;
        margin-left: 60px;
    }
    .destacados-productos {
        margin-top: 60px;
    }
}